*,
*:before,
*:after{
    box-sizing: border-box;
}

.App{
    display: grid;   
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
}

img{
    border: 2px solid black;
}

@media (max-width: 810px){
    .App{
        grid-template-rows: 50vh 50vh;
    }
}